# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv
venv
ENV/
env/

# Cache and Logs
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
logs/

# Secrets - MUY IMPORTANTE
.env

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Base de datos (generalmente no se versiona si contiene datos de usuario)
data/betting_stats.db
.streamlit/secrets.toml
